.pet-infos {
  .pet-profile {
    position: relative;
    z-index: 4;
    padding: 4rem 1rem;
    box-shadow: 0 5px 10px $color-shadows;

    .pet-avatar {
      width: 12rem;
      height: 12rem;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}