.home {
  width: 100vw;
  height: 100vh;

  .homescreen_container {
    margin-top: 0;
    width: 100vw;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    .homescreen_container_i {
      width: 300px;
      height: 100%;
    
      img {
        margin: 0;
      }
    
      p {
        font-family: 'roboto';
        font-size: 15px;
      }
    
      h3 {
        font-size: 30px;
      }
    
      #b {
        color: black;
      }
    
      #bl {
        color: #12BCE0;
        margin-bottom: 20px;
      }
    }
  }
  
  
  .homescreen_container_2 {
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    .little_box {
        width: 97px;
        height: 145px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 15px;
        font-family: 'roboto';
        text-align: center;
        box-shadow: 0px 3px 6px #707070;
    }
  
    #miaou {
        align-self: end;
    }
  }
}