.profile {
  .header {
    position: relative;
    z-index: 5;
    padding: 2rem 1rem;
    font-size: 1.5rem;
    box-shadow: 0 5px 10px $color-shadows;

    .back-arrow {
      svg {
        font-size: 4rem;
      }
    }

    h1 {
      width: 100%;
      text-align: center;
    }
  }

  &-infos {
    position: relative;
    z-index: 4;
    padding: 4rem 1rem;
    box-shadow: 0 5px 10px $color-shadows;

    .user-avatar {
      width: 12rem;
      height: 12rem;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 500;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .pets-infos {
    position: relative;
    z-index: 3;
    padding: 2rem;

    h2 {
      font-size: 1.8rem;
      font-weight: 200;
    }
    
    .btn-add {
      background-color: $color-4;
      color: $color-1;
      font-weight: 500;
      border-radius: 50px;
      font-size: 1.1rem;
    }

    .pet-list {
      padding: 2rem 0;
      .pet{
        &-card {
          background-color: $color-1;
          border-radius: 2.5rem;
          padding: .6rem .8rem;

          .pet-avatar {
            width: 6.5rem;
            height: 6.5rem;
          }

          p {
            font-size: 1rem;

            &:first-child {
              font-size: 1.5rem;
              font-weight: 500;
            }

            &:last-child {
              margin-top: .5rem;
            }
          }

          a {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.5rem;
            margin-right: .5rem;

            svg {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}